@page
@model Snackis.Pages.Posts.ReportModel
@{
}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title mx-auto">Report Post</h3>
            </div>
            <div class="panel-body">
                <form method="post" accept-charset="UTF-8" role="form">
                    <div class="form-group">
                        <textarea asp-for="Report" type="text" class="form-control" name="report"></textarea>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Report">
                </form>
                <hr />
                <div>
                    <span>
                        <p style="color: red">@Model.ErrorMessage</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>